<footer class="footer">
  <div class="container text-center">
    <a class="cc-instagram btn btn-link" href="https://fr.linkedin.com/in/maxime-cron/" target="_blank">
      <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
    </a>
    <a class="cc-github btn btn-link " href="https://github.com/mcron1" target="_blank">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    </a>
    <a class="cc-facebook btn btn-link " href="https://www.fiverr.com/crmaxime" target="_blank">
      <i class="fa fa-facebook-f fa-3x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>&copy; Tout droit réservé
    </p>
  </div>
</footer>
