<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/images/contacts.png');">
      <div class="container">
          <div class="cc-contact">
              <div class="row">
                  <div class="col-md-9">
                      <div class="card mb-0">
                          <div class="h4 text-center title">Contact</div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="card-body">
                                     <img class="imageContact" src="assets/images/cont.png" alt="">
                                     <a class="mailContact" href="mailto:promax671@gmail.com@gmail.com" target="_blank">Envoyer un mail ici</a>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="card-body">
                                      <p class="mb-0">
                                          <strong>Téléphone professionel</strong>
                                      </p>
                                      <p class="pb-2">
                                        (+33) 6 03 53 95 54</p>
                                      <p class="mb-0">
                                          <strong>E-mail professionel</strong>
                                      </p>
                                      <p>maxime.cron@lgcf.fr</p>
                                      <p class="mb-0">
                                        <strong>E-mail personel</strong>
                                    </p>
                                    <p>promax671@gmail.com</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
