.row p{
  font-weight: 700px;
  color:black;

}
.card-body p{
  padding-top: 7px;
  padding-left: 20px;
}

li{
  padding-top: 5px;
}

.imageContact{
  top: 0px;
}

.mailContact{
  font-size: 15px;
  padding-left: 30%;
}

.cc-contact-information{
  padding-bottom: 20px;
}
