<div class="section" id="certifications">
  <div class="container">
    <div class="h4 text-center mb-4 title">Certifications</div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col" *ngFor="let extra of extras">
              <div class="cc-porfolio-image img-raised">
                <a href={{extra.url}}>
                  <figure class="cc-effect">
                    <img src={{extra.img}} alt="Image" />
                    <figcaption>
                      <div class="h4">{{extra.title}}</div>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
