<div class="section" id="about">
  <div class="h4 text-center mb-4 title">Informations et à propos</div>
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div>
              <ul>
                <p>{{about1}}</p>
                <li *ngFor="let m of about2 | split">{{m}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date de naissance:</strong>
              </div>
              <div class="col-sm-8">20 Août, 1997</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email Perso. :</strong>
              </div>
              <div class="col-sm-8">promax671@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email Pro. :</strong>
              </div>
              <div class="col-sm-8">maxime.cron@lgcf.fr</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Téléphone:</strong>
              </div>
              <div class="col-sm-8">(+33) 6 03 53 95 54</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Langues:</strong>
              </div>
              <div class="col-sm-8">Français, Anglais, Allemand</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
