<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Scolarité</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3" >
          <div class="card-body cc-education-header">
            <p>2021 - En cours</p>
            <div class="h5">MASTER</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Master - Manager en architecture et applications logicielles</div>
             <h4 class="category">CESI - Lingolsheim (France)
             </h4>
             <ul>
              <li>Concevoir l'architecture logicielle du SI</li>
              <li>Superviser et assurer le développement des application logicielles</li>
              <li>Superviser le portefeuille projet de la DSI</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3" >
          <div class="card-body cc-education-header">
            <p>2020 - 2021</p>
            <div class="h5">BACHELOR</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Bachelor - Responsable de l'ingénierie logicielle</div>
             <h4 class="category">CESI - Lingolsheim (France)
             </h4>
             <ul>
              <li>Recueillir, analyser et formaliser les besoins logiciels de l’entreprise</li>
              <li>Participé à la conception, au développement et au déploiement de la solution</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3" >
          <div class="card-body cc-education-header">
            <p>2015 - 2017</p>
            <div class="h5">BTS</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">BTS - Service Informatique aux Organisations </div>
             <h4 class="category">René Cassin - Strasbourg (France)
             </h4>
             <ul>
              <li>Compétences d’informaticien généraliste, capable d’occuper un poste d’assistance et de support informatique</li>
              <li>Rôle de spécialiste, soit dans le domaine des infrastructures systèmes et réseaux</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3" >
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">BAC</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Bac - Sciences et technologies de l'industrie et du développement durable</div>
             <h4 class="category">Haut Barr - Saverne (France)
             </h4>
             <ul>
              <li>Enseignements technologiques transversaux</li>
              <li>Enseignements spécifiques selon la spécialité retenue, innovation technologique et éco-conception</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
