<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="black">
      <div class="page-header-image" data-parallax="true">
        <img class="introImg" src="assets/images/intro.png" alt="ImageIntro" />
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/profi.png" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Maxime C</h1>
          <p class="category text-white">Alternant Analyste Programmeur</p>
          <a class="btn btn-primary" href="assets/images/CV.png" target="_blank" >Visualiser CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon"
              href="https://fr.linkedin.com/in/maxime-cron/" target="_blank" rel="tooltip"
              title="Suivez-moi sur Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/mcron1" target="_blank"
              rel="tooltip" title="Suivez-moi sur Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.fiverr.com/crmaxime" target="_blank" rel="tooltip"
            title="Suivez-moi sur Fiverr">
              <i class="fa fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
